

@if(!photos){
  <div  class="full-window">
    <div class="align-self-center justify-content-center flex flex-column align-content-center	">
    @if(!erroApi){
        <div class="flex justify-content-center">
    
          <mat-spinner [diameter]="70"></mat-spinner>
        </div>
    
        <div class="mt-4 opacity-50">
          Carregando Fotos
        </div>
      }@else{
        <div>
          <div class="flex  justify-content-center text-3xl">
            <mat-icon fontSet="material-icons-outlined" class="laranja-caixa icon-error" >report</mat-icon>
          </div>
          <div class="mt-3 text-center">
            <h3 class="laranja-caixa futura-bold m-0">Falha de Carregamento</h3>
            <p class="m-0 p-2 text-sm opacity-50">
              Ocorreu uma falha ao carregar as imagens.
              <span class="underline cursor-pointer" (click)="recarregar()">
                clique aqui para recarregar.
              </span>
            </p>
          </div>
        </div>
      }
    </div>
  </div>
} @else {

  <div class="full-window">

    <div class="grid w-full p-6 block">
      <div class="flex stk flex-column col-12 md:col-8 lg:col-8 col-offset-0 md:col-offset-2 lg:col-offset-2">
  
        <div class="flex justify-content-between">
            <div>
              <h3 class="m-0 futura-bold azul-caixa uppercase">Lista de Fotos {{inputSearchValue}}</h3>
              <p class="opacity-50 m-0 text-sm ">Clique na imagem para visualizá-la em tela cheia</p>
            </div>
            
            <div class="flex ml-3">

              <button mat-icon-button 
                matTooltip="Mostrar em lista"
                [color]="modoLista ? 'primary' : ''"
                (click)="modoLista = true"
                class="{{!modoLista ? 'opacity-40':''}}"
                aria-label="Example icon-button with a heart icon">
                <mat-icon>list</mat-icon>
              </button>

              <button mat-icon-button 
                matTooltip="Mostrar em cards"
                (click)="modoLista = false"
                [color]="!modoLista ? 'primary' : ''"
                class="{{modoLista ? 'opacity-40':''}}"
               
                aria-label="Example icon-button with a heart icon">
                <mat-icon>dashboard</mat-icon>
              </button>              
            </div>
        </div>
  
        <mat-form-field  class="mt-3">
          <mat-label>filtrar pelo título</mat-label>
          <input matInput [(ngModel)]="inputSearchValue" placeholder="entre com texto para filtrar" >
        </mat-form-field>

      </div>

      <div class="col-12 md:col-8 lg:col-8 col-offset-0 md:col-offset-2 lg:col-offset-2">
        @if(modoLista){
          <app-visualizar-tabela (showPhoto)="visualizarImagem($event)" [inputSearchValue]="inputSearchValue" [photos]="photos"></app-visualizar-tabela>
        }@else {
          <app-visualizar-cards (showPhoto)="visualizarImagem($event)" [photos]="photos | photoFilter:inputSearchValue"></app-visualizar-cards>
        }
      </div>
    </div>
  </div>

  
}


<!-- <app-visualizar-item #visualizador class="hidden"></app-visualizar-item> -->